*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.div-container {
  width: 1158px;
  margin: 0 auto;
}
.container {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.section {
  padding-left: calc((1440px - 1158px) / 2);
  padding-right: calc((1440px - 1158px) / 2);
}
.section-padding{
  padding: 120px 0px;
}
.menu {
  display: flex;
  padding: 24px 0px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.address {
  display: flex;
  gap: 40px;
}
.first-section {
  background-color: #2e2f42;
  color: #ffffff;
  border-bottom: 1px solid blue;
}
.page-head {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.071;
  letter-spacing: 0.02px;
  margin-top: auto;
  width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}
.page-head h1{
  margin: 0;
  margin-bottom: 48px;
}
.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: #4d5ae5;
  color: white;
  letter-spacing: 0.04px;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.button:active {
  background-color: #404bbf;
}
.second-section .title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02px;
}
.second-section .text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02px;
}
.web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.166;
  color: #4d5ae5;
  text-transform: uppercase;
  letter-spacing: 0.03px;
}
.web-part {
  color: #2e2f42;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
.thirth-section {
  background-color: #f4f4fd;
}
.img-link {
  background-color: white;
}
.thirth-section .title1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
  letter-spacing: 0.02px;
}
.thirth-section .title2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02px;
}
.thirth-section .text2 {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02px;
}
.cards {
  border-bottom: 1px solid #e7e9fc;
}

.footer {
  background-color: #2e2f42;
}
.footer-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.166;
  color: #4d5ae5;
  text-transform: uppercase;
  letter-spacing: 0.03px;
}
.footer-part {
  color: #f4f4fd;
}
.footer .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02px;
  color: #f4f4fd;
}
